@import '../abstract/variaveis';
.banner{
  background: url(../imagens/banner.jpeg) 27% center no-repeat;
  min-height:21.875rem;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content:center;
  opacity: 0.9;
  .inner-banner {
    padding:3em;
    background-color: $cor-terciaria;
    opacity: 0.9;
    border-radius: 2.8125rem;
    h1{
      font-size:$tamanho-do-texto;
      color: $cor-primaria;
    }
    h2{
      font-size:$tamanho-do-texto/2;
      color: $cor-secundaria;
    }
  }
}