@import '../abstract/variaveis';
nav {
  text-align: center;
  ul{
    li{
      display: inline-block;
      padding : 1em;
      a{
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;
        color: $cor-primaria;
        &:hover{
          border-bottom: .125rem solid $cor-secundaria;
        }
      }
    }
  }
}